ENVIRONMENT="{{ env }}"

DATABASE_URL="mysql+aiomysql://nocost@localhost/nocost?unix_socket=/var/run/mysqld/mysqld.sock"
MAIN_DOMAIN="{{ main_domain }}"
ALLOWED_DOMAINS="{{ domains.keys() | join(',') }}"

TENANTS_ROOT="{{ paths.tenants.root }}"
SKELETON_ROOT="{{ paths.tenants.skeleton_root }}"
BACKUP_HOST_ROOT="{{ paths.backup_host_root }}"
BACKUP_ATTIC_ROOT="{{ paths.backup_attic_root }}"

PHP_VERSION="{{ php_version }}"
