ENVIRONMENT="{{ env }}"

DATABASE_URL="mysql+aiomysql://nocost:{{ main_db_password }}@localhost/nocost"
MAIN_DOMAIN="{{ main_domain }}"
ALLOWED_DOMAINS="{{ domains.keys() | join(',') }}"
MAILTO="info@{{ main_domain }}"

TENANTS_ROOT="{{ paths.tenants.root }}"
SKELETON_ROOT="{{ paths.tenants.skeleton_root }}"
BACKUP_HOST_ROOT="{{ paths.backup_host_root }}"
BACKUP_ATTIC_ROOT="{{ paths.backup_attic_root }}"

PHP_VERSION="{{ php_version }}"
JWT_SECRET="{{ jwt_secret }}"
CLOUDFLARE_TOKEN="{{ cloudflare_token }}"
TURNSTILE_KEY="{{ turnstile_key }}"
MAXMIND_LICENSE_KEY="{{ maxmind_license_key }}"
KOFI_VERIFICATION_TOKEN="{{ kofi_verification_token }}"
