[Unit]
Description=API daemon
After=network.target

[Service]
Type=notify

User=nocost
Group=www-data

WorkingDirectory={{ paths.backend_root }}
Environment="PATH={{ paths.backend_root }}/.venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
EnvironmentFile={{ paths.backend_root }}/.env
ExecStart={{ paths.backend_root }}/.venv/bin/gunicorn main:API --bind=unix:/run/nocost/api.sock -m 007 -k uvicorn.workers.UvicornWorker -w 4 --capture-output --log-file /var/log/nocost/api.error.log
ExecReload=/bin/kill -s HUP $MAINPID

KillMode=mixed
TimeoutStopSec=5

# https://www.freedesktop.org/software/systemd/man/latest/systemd.exec.html
# "The file system namespace related options (PrivateTmp=, PrivateDevices=, ProtectSystem=, ProtectHome=, ...) require
# that mount and unmount propagation from the unit's file system namespace is disabled, and hence downgrade shared to slave."
# in a nutshell: we isolate, we lose mounts propag from ansible_runner, which runs in gunicorn which runs in systemd
# so we can't let systemd isolate any part of the fs namespace at all
# this is why we can't have nice things...
ProtectSystem=false
PrivateTmp=false
MountFlags=shared

[Install]
WantedBy=multi-user.target
