[Unit]
Description=API socket

[Socket]
Accept=no
ListenStream=/var/run/nocost/api.sock
SocketUser=nocost
SocketGroup=nocost
SocketMode=0660

[Install]
WantedBy=sockets.target
