[Unit]
Description=API socket

[Socket]
Accept=no
ListenStream={{ paths.backend_root }}/api.sock
SocketUser=www-data
SocketGroup=www-data
SocketMode=0660

[Install]
WantedBy=sockets.target
