[Unit]
Description=API daemon
After=network.target

[Service]
Type=notify

User=nocost
Group=www-data

WorkingDirectory={{ paths.backend_root }}
EnvironmentFile={{ paths.backend_root }}/.env
ExecStart={{ paths.backend_root }}/.venv/bin/gunicorn main:API --bind=unix:/run/nocost/api.sock -m 007 -k uvicorn.workers.UvicornWorker -w 4 --capture-output --log-file /var/log/nocost/api.error.log
ExecReload=/bin/kill -s HUP $MAINPID

KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
