from pathlib import Path


MAINTENANCE_MODE = Path('/tmp/maintenance').exists()
"""If `True`, then FreeFlarum will operate in restricted mode. Useful during upgrades."""
PHP_VERSION = '8.2'
"""The PHP version that FreeFlarum uses. This needs to be manually increased after major PHP upgrades."""

ROOT_PATH = Path(__file__).parent.parent
"""The root path of the cloned repository."""
CODE_PATH = ROOT_PATH / 'freeflarum'
"""The path to FreeFlarum's source code."""
TEMPLATES_ROOT = CODE_PATH / 'backend' / 'templates'
"""The path to FreeFlarum's templates."""

BACKUPS_ROOT = Path('{{ backups_root }}')
"""The root path of all backups."""
ATTIC_PATH = BACKUPS_ROOT / 'attic'
"""The path to the attic/archived forums folder."""
BACKUP_PATH = BACKUPS_ROOT / 'host'
"""The path to host/forum backups."""
SYSTEM_BACKUP_PATH = BACKUPS_ROOT / 'system'
"""The path to system backups."""

FLARUM_HOSTS_ROOT = Path('{{ flarum_hosts_root }}')
"""Where all forums are located."""
SKELETON_FORUM_ROOT = FLARUM_HOSTS_ROOT / 'skeleton'
"""Root path of the skeleton forum."""

GEOIP_DATABASE_PATH = Path('/etc/geoip/GeoLite2-City.mmdb')
"""Path to Maxmind's `GeoLite2-City.mmdb`."""

{% if available_hostnames %}
FREEFLARUM_DOMAINS = {{ [main_domain] + available_hostnames }}
{% else %}
FREEFLARUM_DOMAINS = ['{{ main_domain }}']
{% endif %}
"""List of all domains that belong to FreeFlarum. The first one is the default one for new forums."""

CSV_EXPORTABLE_TABLES = ['users', 'discussions', 'posts', 'settings']
"""Tables that can be exported to CSV by user."""


WEB_DOMAIN = FREEFLARUM_DOMAINS[0]
"""The domain that is used for the webapp."""
FLASK_SECRET = "{{ flask_secret }}"
"""The secret key for Flask."""
API_DOMAIN = f"api.{WEB_DOMAIN}"
"""The domain that is used for the API."""
FREEFLARUM_EMAIL = f"info@{WEB_DOMAIN}"
"""The email address that is used for FreeFlarum."""


MANDATORY_TAGS: list[str] = ['skeleton']
"""Forums that are required in order for FreeFlarum to function properly. They can't be archived or removed."""
RESERVED_TAGS: list[str] = MANDATORY_TAGS + ['www', 'docs', 'api', 'cname', 'mail']
"""Forum names that are banned during signup."""

TURNSTILE_SECRET_KEY = "{{ turnstile_key }}"
"""Secret key for Cloudflare Turnstile."""
TURNSTILE_SITE_KEY = "0x4AAAAAAAEHuqHXqZUxn-I7"
"""Public key for Cloudflare Turnstile."""
