from pathlib import Path
# TODO: adjust structurer

MAINTENANCE_MODE = Path('/tmp/maintenance').exists()
"""If `True`, then no-cost will operate in restricted mode. Useful during extension/module updates, etc."""
PHP_VERSION = '8.4'
"""The PHP version that no-cost uses. This needs to be incremented after major PHP upgrades."""

"""The root path of the cloned backend repository."""
ROOT_PATH = Path(__file__).parent.parent
"""The path to no-cost's source code."""
TEMPLATES_ROOT = CODE_PATH / 'backend' / 'templates'
"""The path to no-cost's templates."""

BACKUPS_ROOT = Path('{{ backups_root }}')
"""The root path of all backups."""
ATTIC_PATH = BACKUPS_ROOT / 'attic'
"""The path to the attic/archived forums folder."""
BACKUP_PATH = BACKUPS_ROOT / 'host'
"""The path to host/forum backups."""
SYSTEM_BACKUP_PATH = BACKUPS_ROOT / 'system'
"""The path to system backups."""

FLARUM_HOSTS_ROOT = Path('{{ flarum_hosts_root }}')
"""Where all forums are located."""
SKELETON_FORUM_ROOT = FLARUM_HOSTS_ROOT / 'skeleton'
"""Root path of the skeleton forum."""

GEOIP_DATABASE_PATH = Path('/etc/geoip/GeoLite2-City.mmdb')
"""Path to Maxmind's `GeoLite2-City.mmdb`."""

{% if available_hostnames %}
NOCOST_DOMAINS = {{ [main_domain] + available_hostnames }}
{% else %}
NOCOST_DOMAINS = ['{{ main_domain }}']
{% endif %}
"""List of all domains that belong to no-cost. The first one is the default one for new forums."""

CSV_EXPORTABLE_TABLES = ['users', 'discussions', 'posts', 'settings']
"""Tables that can be exported to CSV by user."""


WEB_DOMAIN = NOCOST_DOMAINS[0]
"""The domain that is used for the webapp."""
FLASK_SECRET = "{{ flask_secret }}"
"""The secret key for Flask."""
API_DOMAIN = f"api.{WEB_DOMAIN}"
"""The domain that is used for the API."""
NOCOST_EMAIL = f"info@{WEB_DOMAIN}"
"""The email address that is used for no-cost communications and support."""


MANDATORY_TAGS: list[str] = ['skeleton']
"""Forums that are required in order for no-cost to function properly. They can't be archived or removed."""
RESERVED_TAGS: list[str] = MANDATORY_TAGS + ['www', 'docs', 'api', 'cname', 'mail']
"""Forum names that are banned during signup."""

TURNSTILE_SECRET_KEY = "{{ turnstile_key }}"
"""Secret key for Cloudflare Turnstile."""
TURNSTILE_SITE_KEY = "0x4AAAAAAAEHuqHXqZUxn-I7"
"""Public key for Cloudflare Turnstile."""
